
@font-face {
    font-weight: 700;
    font-family: TT Hoves Bold;
    src: url("../fonts/TT\ Hoves\ Pro\ Trial\ Bold.ttf");
  } 

  @font-face {
    font-weight: 400;
    font-family: TT Hoves Regular;
    src: url("../fonts/TT\ Hoves\ Pro\ Trial\ Regular.ttf");
  }

  @font-face {
    font-weight: 300;
    font-family: TT Hoves;
    src: url("../fonts/TT\ Hoves\ Pro\ Trial\ Light.ttf");
  }

  /* font-family: 'SF Pro Display', sans-serif;
  font-family: 'TT Hoves Pro', sans-serif; */
body {
    margin: 0;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
  }

a {
    text-decoration: none;
    color: inherit;
}

img {
  display: block;
}

.logo{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;  
    margin-right: auto;
    margin-left: auto; 
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .container {
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .container {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*======================================= header */

.logo-nav{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.site-nav{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .site-nav{
        display: none;
        }
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px
}}

.webpage::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.webpage::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.site-nav a{
    font-family: 'TT Hoves Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    text-decoration: none;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    font-style: normal;
    line-height: 12px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.site-nav li:not(:last-child) {
    margin-right: 60px;
    
}
.site-nav li {
    padding-top: 40px;
    padding-bottom: 40px;
    
}

/*===============================main----------- */

.headline-button{
    width: 220px;
    height: 71px;
    /* position: absolute; */
}

.profect-section{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.headline-title{
    font-family: 'TT Hoves', sans-serif;
    margin-bottom: 90px;
    color: #BDBDBD;
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.headline-title-span{
    color: #333;
    font-family:'TT Hoves Bold', sans-serif ;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.svg-arrow-button{
    border: 1px solid #F2F2F2;
    background: #FFF;
    padding: 15px;
    cursor: pointer;
}

.svg-arrow-button:hover,
.svg-arrow-button:focus{
    border: 1px solid #F2F2F2;
    background: #F9F9F9;
}

.svg-arrow-button:not(:last-child) {
    margin-right: 23px;
}

.profect-section-container{
    padding-bottom: 120px;
}

.pages-container{
    display: flex;
}

.pages{
    display: flex;
    margin-top: 90px;
    color:#BDBDBD;
    font-family: TT Hoves;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pages:not(:last-child) {
    margin-right: 26px;
}

.headline-button{
    justify-content: center;
    align-items: center;
    display: flex;

    background-color: #FFF ;
    font-family: 'TT Hoves';
    color:  #333;
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    cursor: pointer;
    
    /* padding: 24px 50px; */
    border: none;
    
    min-width: 222px;
    height: 71px;
    text-align: center;
    position: absolute;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headline-button:hover,
.headline-button:focus{
    border: 1px solid #F2F2F2;
    background-color: #F9F9F9;
}

.headline-button-svg{
    display: flex;
    margin-left: 12px;
}

.headline-container{
    position: relative;
    width: 50%;
    margin-left: 122px;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .headline-container {
        display: none;
    }

    .pages-container {
        display: none;
    }

    .svg-arrow-button {
        display: none;
    }

}

.headline-container .btn{
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(0%, -99%);
}

.img-headline{
    position: relative;
}

.company-section-container{
    padding-bottom: 120px;
}

.company-section{
    max-width: 1170px;
    height: 435px;
    background: #FBFBFB;
    display: flex;
}

.company-title{
    color: #BDBDBD;
    font-family: TT Hoves;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.company-text{
    width: 400px;
    height: 200px;
    color: #000;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.component-text{
    margin-left: 30px;
    margin-top: 30px;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .component-text{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .component-text{
        margin-left: auto;
        margin-right: auto;
    }
}

.container-img{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 100px;
    position: relative;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .container-img {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .container-img {
       display: none; 
    }
}

.company-section-img{
    position: absolute;
    transform: translate(0%, 212%);
}

.tasks-section{
display: flex;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .tasks-section{
        display: block;
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .tasks-section{
        display: block;
        }
}

.tasks-title{
    margin-bottom: 60px;
}

.tasks-one{
    display: flex;
    width: 104px;
    height: 140px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #F2F2F2;
    font-family: SF Pro Display;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.tasks-two{
    display: flex;
    width: 120px;
    height: 140px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #F2F2F2;
    font-family: SF Pro Display;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .tasks-one{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        
        }
    .tasks-two{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        }
        .tasks-text-two{
        margin-left: auto;
        margin-right: auto;
        }
        .tasks-title{
        margin-left: auto;
        margin-right: auto;
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .tasks-one{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        
        }
    .tasks-two{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        }
        .tasks-text-two{
        margin-left: auto;
        margin-right: auto;
        }
        .tasks-title{
            margin-left: auto;
            margin-right: auto;
            }
}

.tasks-text{
    color:  #333;
    font-family: TT Hoves;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 279px;
    padding-right: 187px;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .tasks-text{
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .tasks-text{
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        }
}

.tasks-text-two{
    color:  #333;
    font-family: TT Hoves;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 420px;
}

.profect-section-img{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.profect-button{
    justify-content: center;
    align-items: center;
    display: flex;
    background:  #333;
    width: 222px;
    height: 71px;

    color: #FFF;
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
    cursor: pointer;
    fill: #FFF;
    margin-top: 30px;
    margin-left: auto;
}

.profect-button:hover,
.profect-button:focus{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    color: #333;
    
}

.profect-button:hover .profect-button-svg,
.profect-button:focus .profect-button-svg{
    fill: #333;
}
.profect-button-svg{
    display: flex;
    margin-left: 12px;
    fill: #FFF;
}

.img-profect{
    position: relative;
    overflow: hidden;
    display: flex;
}

.overlay-thumb {
    position: absolute;
    left: 0;
    top: 0;
    padding: 48px 83px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color:  #333;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-link{
    text-decoration: none;
}

.img-profect:hover .overlay-thumb{
    transform: translateY(0);
}

.img-profect:focus .overlay-thumb{
    transform: translateY(0);
}

.overlay-thumb-title{
    color: #FFF;
    font-family: 'TT Hoves', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 14px;
}
.overlay-thumb-link{
    display: flex;
    color: #FFF;
    font-family:'Gothic A1', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.form-field{
    gap: 10px;
    display: flex;
    flex-flow: column;
}

.form-input{
    background-color: #F3F3F3;
    color: #8D8D8D;
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    border: none;
    padding-left: 21px;
    width: 391px;
    height: 45px;
}

.textarea{
    padding-top: 14px;
    width: 391px;
    height: 147px;
}

.checkbox:checked + .icon-checkbox {
    background-color: #F3F3F3;
    background-image: url(../images/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: #F3F3F3;
    fill: #333333;
}

.content-checkbox{
    color: #333;
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-top: 22px;
    margin-left: 16px;
}

.label {
    display: flex;
}

.checkbox {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1.25px solid black;
    border-radius: 2px;
    margin-top: 24px;
}

.communication{
display: flex;
}

.communication-img{
    width: 749px;
    height: 389px;  
    margin-left: 30px;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .communication-img{
        display: none;
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .communication-img{
        display: none;
        }
}

.profect-button-communication{
    margin-left: 0;
}


/* ==============footer=============== */

.footer{
    background-color: #2C2C2C;
    padding: 60px 0 24px;
}

.footer-title{
    color: #FFF;
    font-family: TT Hoves;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.information-list{
    color: #FFF;
    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.42px;

    display: flex;  
    margin-bottom: 16px;
}
.information-list:focus,
.information-list:hover{
    color: #BDBDBD;
}

.footer-section{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 413px) and (max-width: 767px){
    .footer-section{
        display: block; 
    }
}

.footer-svg{
    margin-right: 14px;
    margin-top: 3px;
    fill: #FFF;
}

.information-list:focus .footer-svg,
.information-list:hover .footer-svg{
    fill: #BDBDBD;
}

.social-networks{
    display: flex;
    gap: 40px;
    fill: #FFF;
}

.social-networks:focus,
.social-networks:hover{
    fill: #BDBDBD;
}

.logo-footer{
    fill: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-span{
    color: rgba(200, 200, 200, 0.50);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: center;
    margin: 24px auto 0;
}

.footer-border{
    stroke-width: 1px;
    stroke: #FFF;
    opacity: 0.1;
}


/* === меню телефона =====*/
.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
@media (max-width: 767px) {
    .menu {
      display: none;
    }
}
  
.modal-button-mobile{
    /* position: absolute; */
    margin-left: 400px;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-mobile:hover, .modal-button-mobile:focus {
    background-color: #333;
    fill: #FFFFFF;
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
.menu-btn{
    background-color: transparent;
    border: none;
   
    padding: 0;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  
@media (min-width: 768px) {
    .menu-btn {
      display: none;
    }
}

@media (min-width: 1200px) {
    .menu-btn {
      display: none;
    }
}
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;

    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
  
.menu-container.is-open {
    transform: translateX(0);
}
  
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-contacts{
    margin-bottom: 48px;
    margin-top: auto;
}

.site-nav-modal-menu:not(:last-child){
    margin-bottom: 40px;
}

.icon-networks-mobile{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 56px;
    margin-top: 500px;
}

.icon-mobile{
    display: flex;
    background-color: #333;
    fill: #F3F3F3;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.link {
    text-decoration: none;
    list-style: none;
}

.site-nav-modal {
    font-family: 'TT Hoves Regular', sans-serif;
    font-weight: 400;
    font-size: 36px;
    
    text-decoration: none;
    display: block;
   
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 36px;
    font-style: normal;
    line-height: 12px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.social-networks-modal{
    fill: #333;
}

.site-nav-modal:hover,
.site-nav-modal:focus{
    color: #BDBDBD;
}